ส่งงาน/all24.txt
[{"id":"b50284a3.9b51e8","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"5e439277.fabf0c","type":"mqtt in","z":"b50284a3.9b51e8","name":"","topic":"sw","qos":"2","datatype":"auto","broker":"d7d6020c.a5bad","x":310,"y":680,"wires":[["393c896f.ecb5a6"]]},{"id":"393c896f.ecb5a6","type":"ui_toast","z":"b50284a3.9b51e8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":540,"y":680,"wires":[]},{"id":"b619aba3.16ec68","type":"ui_slider","z":"b50284a3.9b51e8","name":"","label":"slider","tooltip":"","group":"1dc4bca0.5b5313","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"LED/ON-OFF","min":0,"max":"255","step":1,"x":250,"y":560,"wires":[["4351b658.266c68"]]},{"id":"defcf6a3.d42aa8","type":"mqtt in","z":"b50284a3.9b51e8","name":"","topic":"LED/ON-OFF","qos":"2","datatype":"auto","broker":"7782063f.a33bf8","x":800,"y":540,"wires":[["d19b7898.9b51d8"]]},{"id":"4351b658.266c68","type":"mqtt out","z":"b50284a3.9b51e8","name":"","topic":"LED/ON-OFF","qos":"","retain":"","broker":"7782063f.a33bf8","x":560,"y":540,"wires":[]},{"id":"d19b7898.9b51d8","type":"ui_gauge","z":"b50284a3.9b51e8","name":"","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1070,"y":560,"wires":[]},{"id":"3892704c.0aaf1","type":"ui_gauge","z":"b50284a3.9b51e8","name":"","group":"b5ac0011.5b32e","order":1,"width":0,"height":0,"gtype":"donut","title":"celsiusTemp","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#edf109","#bbbb1b","#52591d"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"efaf1a37.3bbe88","type":"mqtt in","z":"b50284a3.9b51e8","name":"","topic":"temp","qos":"2","datatype":"auto","broker":"7782063f.a33bf8","x":230,"y":200,"wires":[["3892704c.0aaf1","7d67d60c.1ed1e8"]]},{"id":"b3d542ca.1cb0e","type":"ui_gauge","z":"b50284a3.9b51e8","name":"","group":"3f395416.c7ffac","order":1,"width":0,"height":0,"gtype":"wave","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#3b0735","#9b9ca6","#ffffff"],"seg1":"","seg2":"","x":420,"y":320,"wires":[]},{"id":"4290b9.718a0f48","type":"mqtt in","z":"b50284a3.9b51e8","name":"","topic":"humanity","qos":"2","datatype":"auto","broker":"7782063f.a33bf8","x":220,"y":320,"wires":[["b3d542ca.1cb0e","7d67d60c.1ed1e8"]]},{"id":"88671278.58cc8","type":"ui_gauge","z":"b50284a3.9b51e8","name":"","group":"c73787fb.68c718","order":1,"width":0,"height":0,"gtype":"donut","title":"fahrenheitTemp","label":"farenheit","format":"{{value}}","min":0,"max":"100","colors":["#2f0408","#971113","#f20d0d"],"seg1":"","seg2":"","x":440,"y":260,"wires":[]},{"id":"f0cee4f1.e57528","type":"mqtt in","z":"b50284a3.9b51e8","name":"","topic":"faren","qos":"2","datatype":"auto","broker":"7782063f.a33bf8","x":230,"y":260,"wires":[["88671278.58cc8","7d67d60c.1ed1e8"]]},{"id":"7d67d60c.1ed1e8","type":"debug","z":"b50284a3.9b51e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":380,"wires":[]},{"id":"8e05968d.5b2c28","type":"ui_text_input","z":"b50284a3.9b51e8","name":"","label":"","tooltip":"","group":"bee82c0.db579d8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"oled","x":900,"y":320,"wires":[["581940c6.bcd5e","24da1fc5.9ccbb"]]},{"id":"581940c6.bcd5e","type":"ui_text","z":"b50284a3.9b51e8","group":"bee82c0.db579d8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":400,"wires":[]},{"id":"9ea3ee91.e0039","type":"debug","z":"b50284a3.9b51e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":240,"wires":[]},{"id":"24da1fc5.9ccbb","type":"mqtt out","z":"b50284a3.9b51e8","name":"","topic":"oled","qos":"","retain":"","broker":"487b2260.24f6ac","x":1090,"y":320,"wires":[]},{"id":"e8b3f6a5.ac0188","type":"mqtt in","z":"b50284a3.9b51e8","name":"","topic":"oled","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":1010,"y":240,"wires":[["9ea3ee91.e0039"]]},{"id":"421538da.997798","type":"mqtt in","z":"b50284a3.9b51e8","name":"","topic":"LED/ON-OFF","qos":"2","datatype":"auto","broker":"7782063f.a33bf8","x":850,"y":840,"wires":[[]]},{"id":"192927cf.9a3058","type":"mqtt out","z":"b50284a3.9b51e8","name":"","topic":"LED/ON-OFF","qos":"","retain":"","broker":"7782063f.a33bf8","x":570,"y":840,"wires":[]},{"id":"d1961f15.82c51","type":"ui_switch","z":"b50284a3.9b51e8","name":"","label":"switch","tooltip":"","group":"1dc4bca0.5b5313","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":260,"y":820,"wires":[["192927cf.9a3058"]]},{"id":"d7d6020c.a5bad","type":"mqtt-broker","name":"broker","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1dc4bca0.5b5313","type":"ui_group","name":"Home","tab":"ee21aca5.be158","order":1,"disp":true,"width":"6","collapse":false},{"id":"7782063f.a33bf8","type":"mqtt-broker","name":"localhost","broker":"192.168.43.109","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b5ac0011.5b32e","type":"ui_group","name":"Temperature","tab":"287d572e.4654b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f395416.c7ffac","type":"ui_group","name":"Humanity","tab":"287d572e.4654b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c73787fb.68c718","type":"ui_group","name":"farenheit","tab":"287d572e.4654b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"bee82c0.db579d8","type":"ui_group","name":"oled","tab":"287d572e.4654b8","order":6,"disp":true,"width":"6","collapse":false},{"id":"487b2260.24f6ac","type":"mqtt-broker","name":"button","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ee21aca5.be158","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"287d572e.4654b8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]