ส่งงาน/flows (1).json
[{"id":"4f434770.907","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1474ec4e.c7ba2c","type":"inject","z":"4f434770.907","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":270,"y":300,"wires":[["3aa751a7.dcbed6"]]},{"id":"6400bb9.5b7b044","type":"debug","z":"4f434770.907","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":300,"wires":[]},{"id":"a04c8253.8ea5a8","type":"json","z":"4f434770.907","name":"","property":"payload","action":"obj","pretty":false,"x":950,"y":300,"wires":[["6400bb9.5b7b044"]]},{"id":"23e121a2.16109e","type":"function","z":"4f434770.907","name":"","func":"var groups = msg.payload;\nvar output_string = \"[\";\nvar i;\nfor ( i = 0 ; i < groups.length ; i++ ) {\n  output_string += \"{\\\"Group\" + (i+1) + \"\\\": [\";\n  var j;\n  \n  for ( j = groups[i].length-1 ; j >= 0 ; j-- ) {\n    if ( j == 0 ) {\n      output_string += \"\\\"\";\n      output_string += groups[i][j]; \n    }\n    else {\n     output_string += \"\\\"\";\n     output_string += groups[i][j] + \"\\\" , \"; \n    }\n  }\n  output_string += \"\\\"] },\";\n}\n// output_string.substr(0, output_string.length-1);\noutput_string = output_string.substr(0, output_string.length-1);\noutput_string += \"]\";\nmsg.payload = output_string;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":300,"wires":[["a04c8253.8ea5a8"]]},{"id":"3aa751a7.dcbed6","type":"function","z":"4f434770.907","name":"","func":"msg.peopleNames = [\n  \"6121910830\", \"6121910831\", \"6121910832\", \"6121910833\", \"6121910834\",\n  \"6121910835\", \"6121910836\", \"6121910837\", \"6121910838\", \"6121910839\",\n  \"6121910840\", \"6121910841\"\n//   , \"Damrong\"\n];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":300,"wires":[["f5a3f91b.796fb8"]]},{"id":"f5a3f91b.796fb8","type":"function","z":"4f434770.907","name":"","func":"o = msg.peopleNames;\nfor(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);\nmsg.peopleNames = o;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":300,"wires":[["8798961c.fc4288"]]},{"id":"8798961c.fc4288","type":"function","z":"4f434770.907","name":"","func":"var peopleNames = msg.peopleNames;\nvar groups = [];\nvar numPeople = peopleNames.length;\nvar groupNum = Number(msg.payload);\nvar peoplePerGroup = Math.floor( numPeople / groupNum );\nvar personIndex = 0;\n\nwhile (groupNum > 0.0) {\n    var newGroup = [];\n    var i;\n    if ( groupNum <= 1.0 ) {\n        while( personIndex < numPeople ) {\n           newGroup[newGroup.length] = peopleNames[personIndex];\n         personIndex++;\n        }\n    }\n    else {\n        for ( i = peoplePerGroup ; i > 0 ; i-- ) {\n         newGroup[newGroup.length] = peopleNames[personIndex];\n         personIndex++;\n        }\n    }\n    groups[groups.length] = newGroup;\n    groupNum--;\n}\nmsg.payload = groups;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":300,"wires":[["23e121a2.16109e"]]},{"id":"27a0fc1a.2609fc","type":"inject","z":"4f434770.907","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"jmacle\"}","payloadType":"json","x":470,"y":200,"wires":[["d6f31665.0f81b8"]]},{"id":"47619695.6c46f","type":"debug","z":"4f434770.907","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":200,"wires":[]},{"id":"a1e51398.91b1","type":"inject","z":"4f434770.907","name":"2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":240,"y":240,"wires":[["3aa751a7.dcbed6"]]},{"id":"871f1138.c49f2","type":"inject","z":"4f434770.907","name":"4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":210,"y":380,"wires":[["3aa751a7.dcbed6"]]},{"id":"5f795314.30e33c","type":"ui_text_input","z":"4f434770.907","name":"","label":"","tooltip":"","group":"16fdc5e1.9ee0fa","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":440,"y":560,"wires":[["a6187493.753508"]]},{"id":"a6187493.753508","type":"ui_template","z":"4f434770.907","group":"16fdc5e1.9ee0fa","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<canvas id=\"c\" width=\"500\" height=\"500\"></canvas>\n<script type=\"text/javascript\">\nvar theScope = scope;\nvar player = \"\";\n\n// Watch the payload and update\n(function(scope) {\n context = c.getContext('2d');\n        const bird = new Image();\n        // bird.src = \"https://www.pinclipart.com/picdir/big/89-893608_flying-clip-art.png\";\n        bird.src = \"https://lh3.googleusercontent.com/proxy/sA2d5ZJSs4nh-WhrT_aoMuqXpBtBYfPBdCm-XOHsnTTQtl0GnYhGdUCFZaEdfRHuAnYJM-6nWyHBubWqgsGyMBWQJrahocSPqQxBn2_P3365S6cHAds\";\n        const back = new Image();\n        back.src = \"https://thumbs.dreamstime.com/b/sky-white-blue-fluffy-clouds-soft-cloud-background-cloudscape-clear-113576148.jpg\";\n        birdX = birdDY = score = bestScore = 0;\n        birdSize = 100;\n        pipeWidth = topPipeBottomY = 50;\n        interval = 25; //framerate\n        birdY = pipeGap = 200;\n        // pipeGap = 200;\n        canvasSize = pipeX = 500; \n        c.onclick = () => {birdDY = 8} \n        setInterval(() => {\n            \n\n            context.drawImage(back,0,0,canvasSize,canvasSize);\n            \n\n            birdY -= birdDY -= 0.5;   // Gravity\n            context.drawImage(bird,birdX,birdY,birdSize,birdSize); // Bird\n\n            context.fillStyle = \"#383413\";\n            pipeX -= 10; // Move pipe\n            pipeX < -pipeWidth && ((pipeX = canvasSize),(topPipeBottomY = pipeGap * Math.random()));\n            context.fillRect(pipeX, 0 , pipeWidth,topPipeBottomY);\n            context.fillRect(pipeX, topPipeBottomY + pipeGap , pipeWidth, canvasSize);\n\n            context.fillStyle = \"black\";\n            context.fillText(`Score: ${score++}`,10,15);\n            context.font = \"15px Verdana\";\n            bestScore = bestScore < score ? score : bestScore;\n            \n            context.fillText(`BestScore: ${bestScore}`,10,35);\n     context.fillText(`Player: ${player}`,10,55);\n\n            (((birdY < topPipeBottomY ||birdY>topPipeBottomY+pipeGap) && pipeX < birdSize) //Hit pipe\n            ||birdY > canvasSize) &&  // Fall\n            ((birdY = 0),(pipeX = canvasSize),(theScope.send({payload:{bestscore:bestScore,Score:score,Player:player}})),(score = 0));  //Reset\n\n          \n\n        },interval)\n            \n    \n scope.$watch('msg.payload', function(data) {\n     player = data;\n     theScope.send({payload:player});\n     \n //update(data);\n });\n})(scope);\n\n/*function update(dta) {\n theScope.send({payload:dta});\n bleh = dta.name;\n otherStuff();\n}\n\nfunction otherStuff() {\n theScope.send({payload:bleh});\n}\n*/\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":560,"wires":[["c26ebe85.e2bd4"]]},{"id":"d6f31665.0f81b8","type":"ui_template","z":"4f434770.907","d":true,"group":"16fdc5e1.9ee0fa","name":"","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <canvas id=\"c\" width=\"500\" height=\"500\"></canvas>\n<script type=\"text/javascript\">\nvar theScope = scope;\nvar bleh = null;\n\n// Watch the payload and update\n(function(scope) {\n scope.$watch('msg.payload', function(data) {\n     context = c.getContext('2d');\n        const bird = new Image();\n        // bird.src = \"https://www.pinclipart.com/picdir/big/89-893608_flying-clip-art.png\";\n        bird.src = \"https://i.pinimg.com/originals/cd/9a/a7/cd9aa77af526835cd18a7c5a0868e35d.png\";\n        birdX = birdDY = score = bestScore = 0;\n        birdSize = 100;\n        pipeWidth = topPipeBottomY = 50;\n        interval = 25; //framerate\n        birdY = pipeGap = 200;\n        // pipeGap = 200;\n        canvasSize = pipeX = 500; \n        c.onclick = () => {birdDY = 8} \n        setInterval(() => {\n\n            context.fillStyle = \"skyblue\";\n            context.fillRect(0,0,canvasSize,canvasSize); //Sky\n\n            birdY -= birdDY -= 0.5;   // Gravity\n            context.drawImage(bird,birdX,birdY,birdSize,birdSize); // Bird\n\n            context.fillStyle = \"brown\";\n            pipeX -= 10; // Move pipe\n            pipeX < -pipeWidth && ((pipeX = canvasSize),(topPipeBottomY = pipeGap * Math.random()));\n            context.fillRect(pipeX, 0 , pipeWidth,topPipeBottomY);\n            context.fillRect(pipeX, topPipeBottomY + pipeGap , pipeWidth, canvasSize);\n\n            context.fillStyle = \"black\";\n            context.fillText(score++,10,15);\n            bestScore = bestScore < score ? score : bestScore;\n            context.fillText(`Best: ${bestScore}`,10,25);\n\n\n            (((birdY < topPipeBottomY ||birdY>topPipeBottomY+pipeGap) && pipeX < birdSize) //Hit pipe\n            ||birdY > canvasSize) &&  // Fall\n            ((birdY = 0),(pipeX = canvasSize),(score = 0)); //Reset\n\n            // ((t != 0 && a>b) || x>Y) && ((u>x)||(g<t))  && ((do1=5),(xx=20))\n\n            // 1 || 1 = 1\n            // 1 || 0 = 1\n            // 0 || 0 = 0\n\n            // 1 && 0 = 0\n            // 1 && 1 = 1\n            // 0 && 0 = 0\n\n            // a > b && c == 0 && y < o\n\n        },interval)\n update(data);\n });\n})(scope);\n\nfunction update(dta) {\n theScope.send({payload:dta});\n bleh = dta.name;\n otherStuff();\n}\n\nfunction otherStuff() {\n theScope.send({payload:bleh});\n}\n\n</script>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":680,"y":180,"wires":[["47619695.6c46f"]]},{"id":"c26ebe85.e2bd4","type":"debug","z":"4f434770.907","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":580,"wires":[]},{"id":"16fdc5e1.9ee0fa","type":"ui_group","name":"Buttons","tab":"8f57f520.e87078","order":1,"disp":false,"width":"12","collapse":false},{"id":"8f57f520.e87078","type":"ui_tab","name":"Some buttons","icon":"dashboard","order":1}]